/Alerts.class
/BaseClass.class
/Frames.class
/IdentifyLoc.class
/InternetSpeed.class
/MethodCalling.class
/MultipleElement.class
/Screenshots.class
/SeleniumBasic.class
/Signup.class
/TestScript.class
/WebTable.class
